{% extends "base.html" %}

{% block title %}Дашборд Адміністратора{% endblock %}

{% block content %}
<div class="jumbotron text-center bg-danger text-white p-5 rounded">
    <h1 class="display-4">Секретний Доступ: (Адміністратор)</h1>
    <p class="lead">Ласкаво просимо, {{ username }}. Ви маєте повний доступ до всіх систем. Secure. Contain. Protect.</p>
    <hr class="my-4">
    <p>Тут ви можете керувати Реєстром Об'єктів, Камерами Утримання та Персоналом.</p>
    <a class="btn btn-light btn-lg" href="#" role="button">Реєстр Об'єктів</a>
    <a class="btn btn-light btn-lg" href="#" role="button">Управління Персоналом</a>
</div>
{% endblock %}