{% extends "base.html" %}

{% block title %}Дашборд Дослідника{% endblock %}

{% block content %}
<div class="jumbotron text-center bg-light p-5 rounded">
    <h1 class="display-4">Ласкаво просимо, Досліднику {{ username }}!</h1>
    <p class="lead">Рівень допуску: **{{ role.upper() }}**.</p>
    <hr class="my-4">
    <p>Це ваш персональний дашборд. Тут ви можете переглядати об'єкти.</p>
    <div class="d-grid gap-2 d-md-block mt-4">
        <a class="btn btn-outline-dark"
            href="{{ url_for('inventory.objects_list') }}">Реєстр Об'єктів</a>
    </div>
</div>
{% endblock %}